:root{
    --color-prim: #0909a9 ;
    --color-sec: #289fd0 ;
    --color-third: #4c4cf4 ;
    --color-accent: #eeca0d ;
    --color-sec-accent:#f8e26d;
    --color-heading: #7c7c7c ;
    --color-border: ghostwhite;
    --color-body: #7fc7eb ;
    --color-dark:#030343; 
    --color-white:#f9f9f9;
    --color-logo-geen: #89e60b ;
    --color-logo-blue: #4258ea;
    --color-red: #dc143c;
}

/*TYPOGRAPHY*/

::selection{
    background: var(--color-sec);
    color: var(--color-accent);
}

/*html{
    font-size: 62.5%;
}*/

.img-small img  {
  width: 50% ;
}

img{
    width: 100%;
}


body{
  font-family: "Lora", serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3{
    color: var(--color-border);
    margin-bottom: 1rem;
    line-height: 1.1 ;
}
h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}
h3{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
}

p{
    margin-top: 0;
}

/*text paletter */

.small-text-quote{
  font-family: "Lora", serif ;
  font-size: 15px ;
  font-weight: 200;
  color: var(--color-heading);
  margin-top: -9px;
  margin-right:-9px ;
  margin-left: 3px;


}

.small-text{
  font-size: 1rem ;
}


.rubik{
        font-family: "Rubik Bubbles", system-ui;
        font-weight: 400;
        font-style: normal;
  }

.cinzel{
  font-family: "Cinzel", serif;
  font-size: 3rem ; 
  font-weight: 400;
}

.lora{
  font-family: "Lora", serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

.cinzel-bold{
  font-family: "Cinzel", serif;
  font-size: 2.5rem ; 
  font-weight: 100;
}
.satisfy {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.red{
  color: var(--color-red);
}

.logo-green{
  color: var(--color-logo-geen);
}

.logo-blue{
  color: var(--color-logo-blue);
}


  .sec-color{
    color: var(--color-sec);

  }

  .prim-color{
    color: var(--color-prim);
  }

  .accent-color{
    color: var(--color-accent);
  }
  
  .third-color  {
    color: var(--color-third);
  }

  .white-color{
  color: var(--color-white);
  }

   svg > .white-color{
    color: var(--color-white);
  }

.sec-accent-c{
    color: var(--color-sec-accent);
}

.dark-color{
    color: var(--color-dark) ;
}
.heading-color{
  color: var(--color-heading);
}
.body{
  color: var(--color-body);
}
/*border*/

.border--dark{
  border: var(--color-dark) solid 0.6rem;
  border-radius: 50%;
}

.dash{
  border:  dashed 0.6rem;
  border-image:
  
}
.solid{
  border: solid 0.6rem;
}

.dotted{
  border: dotted 0.5rem ;
}


@media screen and (min-width: 320px){
  .border--heading{
    border: var(--color-heading) dotted 0;
  }
  
  .border--logo-blue{
    border: var(--color-logo-blue) dotted 0;
  }
  
  .border--dark{
    border: var(--color-dark) solid 0;
    border-radius: 50%;
  }
  
  .border--white{
    border: var(--color-white) solid 0;
    border-radius: 50%;
  }
}

@media screen and (min-width: 375px){
  .border--heading{
    border: var(--color-heading) dotted 0.6rem;
  }
  
  .border--logo-blue{
    border: var(--color-logo-blue) dotted 0.6rem;
  }
  
  .border--dark{
    border: var(--color-dark) solid 0.6rem;
    border-radius: 50%;
  }
  
  .border--white{
    border: var(--color-white) solid 0.4rem;
    border-radius: 50%;
  }
}




@media screen and (min-width: 1024px){

    body{
        font-size: 1.8rem;
    }

    h1{
        font-size: 8rem;
    }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem ;
    }
}
/*nav-bar*/

.nav-bar{
    background:var(--color-prim) ;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.var__list{
    width: 100%;
    margin: 0;
}

.list{
    list-style: none;
    padding-left: 0;
}

.nav__item{
    padding: 0.5rem 2rem ;
    border-bottom: 3px solid var(--color-sec) ;
    justify-items: left;
}

.nav__item:last-of-type{
    border-bottom: none;
}

.nav__item > a {
    color: var(--color-dark);
}

.nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {

    
      .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
      }
    
      .nav__item {
        border: 0;
      }

    .nav-bar{
        padding: 0;
        
        
    }
    
  }


/*collapsible*/

.collapsible__header {
    display: flex;
    justify-content: space-between;
  }
  
  .collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
  }
  
  .collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
  
  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
  }
  
  .collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }

/*A*/
a:hover{
    color: var(--color-accent);
    transform: color 0.3s;
}

a{
    text-decoration: none;
}


/*icon*/
  .help{
    width: 40;
    height: 40;
  }


  /*Grids*/
.grid{
  display: grid;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.grid-align{
  align-content: center;
  text-align: center;
}


@media screen and (min-width: 768px){
  .grid--1x2{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px){
  .grid--1x3{
    grid-template-columns: repeat(3, 1fr);
  }
}

/*block*/
.block--show{
  align-items: center;
  justify-content: center;
  display: flex;
}
.block{
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header{
  text-align: center;
  margin-bottom: 4rem;
}
.block--calculator{
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;

} 
.block--red{
  background: var(--color-red);
}
.block__heading {
  background: var(--color-heading);
}

.block--dark{
  background: var(--color-dark);
}

.block--third{
  background: var(--color-third);
}

.block--body{
  background: var(--color-body);
}

.block--sec{
  background: var(--color-sec);
}

.block--accent{
  background: var(--color-accent);
}


/*hero*/
.hero-p{
  margin-top: 8rem;

}

.hero__tagline{
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

@media screen and (min-width: 768px){
  .hero__content{
    text-align: left;
    align-self: center;
  }
}

@media screen and (min-width: 1024px){
  .hero{
    padding-top: 0;
  }
}

/*animat*/

.svg-animat {
	font-family: "Cinzel", sans-serif;
	width: 100%; height: 100%;
}

.svg-text {
	animation: stroke 4s infinite alternate;
	stroke-width: .1;
	stroke: #F9F9F9;
	font-size: 44px ;
}
@keyframes stroke {
	0%   {
		fill: rgba(137,230,11,0); stroke: rgba(249,249,249,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: .2;
	}
	70%  {fill: rgba(137,230,11,0); stroke: rgba(249,249,249,1); }
	80%  {fill: rgba(137,230,11,0); stroke: rgba(249,249,249,1); stroke-width: .3; }
	100% {
		fill: rgba(137,230,11,1); stroke: rgba(249,249,249,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.wrapper {background-color:var()};


@media screen and (min-width: 1024px){

  .svg-text {
    font-size: 110px;
  }
  
}

/* Media */
.medias{
  display: flex;
  margin-bottom: 4rem;
}

.medias__title{
  margin-top: 0;
}

.medias__body{
  margin: 0 2rem;
}

.medias__image{
  margin-top: 1rem;
}

.medias:hover{
  transform: scale(1.02);
  transition: transform 0.5s ease-out;
  box-shadow: var(--color-accent) 10px 15px  ; 
 
}


/*background page */

.back--lines-green{

  background-color: var(--color-dark);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1460' height='175.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2389E60B' stroke-width='8.9' stroke-opacity='0.65'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  
}

.back--dots-sec{
  background-color: #0909A9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='103' height='103' viewBox='0 0 90 90'%3E%3Ccircle fill='%23EECA0D' cx='45' cy='45' r='39'/%3E%3Cg fill='%234C4CF4' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='29'/%3E%3Ccircle cx='90' cy='90' r='29'/%3E%3Ccircle cx='90' cy='0' r='29'/%3E%3Ccircle cx='0' cy='0' r='29'/%3E%3C/g%3E%3C/svg%3E");
}

.back--prim{
  background-color: #0909A9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(73,764,371)'%3E%3Cstop offset='0' stop-color='%230909A9'/%3E%3Cstop offset='1' stop-color='%234C4CF4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.16'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: block;
  background-size: cover;
}

.back--shapes-prim{
  background-color: var(--color-dark);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(168,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23289FD0'/%3E%3Cstop offset='1' stop-color='%23EECA0D'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(112,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F9F9F9'/%3E%3Cstop offset='1' stop-color='%230909A9'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='60.39'%3E%3Cpath transform='translate(-57.75 13.2) rotate(8.25 1409 581) scale(1.033)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='20.130000000000003' transform='translate(-33 33) rotate(9.9 800 450) scale(1.017)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(29.7 -99) rotate(99 401 736) scale(1.017)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='18.3'%3E%3Cpath transform='translate(198 -13.2) rotate(3.3 150 345) scale(0.967)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='40.260000000000005' transform='translate(-132 -82.5) rotate(118.8 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-198 66) rotate(19.8 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: block;
background-size: cover;
}

.back--lines-dark{
  background-color: #289FD0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1861' height='223.3' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23030343' stroke-width='18.1' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.back--line{
  background-color: #030343;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='16.1%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23030343'/%3E%3Cstop offset='1' stop-color='%23289FD0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='7%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2389E60B' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%2389E60B' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23030343' stroke-width='12.1' stroke-miterlimit='10' %3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-attachment: block;
  background-size: cover;
}


.back--line-prim{
  background-color: #289FD0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='332' height='332' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23030343' stroke-width='12.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2389E60B'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

/*?*/

.text-center{
 text-align: center;
  font-size: 4.6rem;

}

.shadow-prim{
  font-size: 4.6rem;
  text-shadow: var(--color-prim) 7px 6px ;
}

 .center{ 
  justify-content: center;
  text-align: center;
  justify-items: center;
}

 


/* QUOTES */
.quote {
  font-size: 5rem;
  font-family:"Satisfy", cursive ;
  color: var(--color-accent);
  line-height: 1.3;
  padding-top: -7rem ;

}

.quote-{
  background-color: var(--color-sec-accent);
  padding: 3rem 1rem ;
  border-radius: 50%;
}

.quote_move{
  margin-left: -6rem;
  margin-bottom: -9rem;

}



.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.quote__organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 1.5rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }

}


/* Testimonials */
.testimonial {
  padding: 3rem;
}

.testimonial .quote {
  margin: 2rem 0;
  font-size: 110%;
}

.testimonial__image {
  position: relative;
  margin: 0 3rem;
 
}

.testimonial__image img{
  width: 60%;
  padding: 1rem 4rem;
  

}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 375px) {
  .testimonial__image {
    margin: 0;
  }

  .testimonial .quote {
    margin: 5rem 0 0 6rem;
    font-size: 120%;
    line-height: 1.5;
  }
  .testimonial__image img {
    width: 90%;
    padding: 0 0;
  }
}

.btn-c{
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50% ;
  font-size: 3rem;
  cursor: pointer;
}

.btn-glow{
  box-shadow: 0 0 5px var(--color-third), 0 0 25px var(--color-third);
  color: var(--color-logo-blue);
  border: var(--color-third) solid 3px;
}
.btn-glow-red{
  box-shadow: 0 0 5px var(--color-red), 0 0 25px var(--color-red);
  color: var(--color-red);
  border: var(--color-red) solid 3px;
}
.btn-glow-green{
  box-shadow: 0 0 5px var(--color-logo-geen), 0 0 25px var(--color-logo-geen);
  color: var(--color-logo-geen);
  border: var(--color-logo-geen) solid 3px;
}

.btn-glow:hover{
  box-shadow: 0 0 5px var(--color-third),
  0 0 25px var(--color-third), 0 0 50px var(--color-third),
  0 0 100px var(--color-third), 0 0 200px var(--color-third);
}
.btn-glow-green:hover{
  box-shadow: 0 0 5px var(--color-logo-geen),
  0 0 25px var(--color-logo-geen), 0 0 50px var(--color-logo-geen),
  0 0 100px var(--color-logo-geen), 0 0 200px var(--color-logo-geen);
}

.btn-glow-red:hover{
  box-shadow: 0 0 5px var(--color-red),
  0 0 25px var(--color-red), 0 0 50px var(--color-red),
  0 0 100px var(--color-red), 0 0 200px var(--color-red);
}

.btn-glow:active{
color: var(--color-accent);
background-color: var(--color-third);
}

.btn-glow-red:active{
  color: var(--color-red);
  background-color: var(--color-red);
  }
.btn-glow-green:active{
  color: var(--color-logo-geen);
  background-color: var(--color-logo-geen);
  }

  @media screen and (min-width: 320px){
   .btn-c{
      width: 4rem;
      height: 4rem;
      background-color: black;
      border-radius: 50% ;
      font-size: 2rem;
      cursor: pointer;
    }  

  }

  @media screen and (min-width: 768px){
    .btn-c{
      width: 100px;
      height: 100px;
      background-color: black;
      border-radius: 50% ;
      font-size: 3rem;
      cursor: pointer;
    }
  }
  
/*footer*/

.footer{
  margin: 0 0;
  padding: 0 0;
}
/*calculator-IDs*/

#calculator{
  font-family: "Cinzel", serif;
  background-color: black;
  border-radius: 15px;
  max-width: 650px;
  overflow: hidden;

}
#display{
  width:100% ;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none ;
  background-color: var(--color-dark);
  color: var(--color-logo-geen);
}

#keys{
  display: grid;
  grid-template-columns: repeat(4,9rem);
  gap: 15px;
  padding: 30px;
}

@media screen and (min-width: 320px){
  #keys{
    display: grid;
    grid-template-columns: repeat(4,65px);
    gap: 3px;
    padding: 16px;
  }
}

@media screen and (min-width: 768px){
  #keys{
    display: grid;
    grid-template-columns: repeat(4,9rem);
    gap: 15px;
    padding: 30px;
  }
}